* {
  background-color: Pink #fbeaeb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #df678c;
  line-height: 2;
}

h1 {
  color: #2f3c7e;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}
h2 {
  color: #2f3c7e;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

em {
  color: #2f3c7e;
  font-weight: bold;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
}
